<h1><%= @goal.title %></h1>

Status: <%= @goal.completed ? "Completed" : "Incomplete" %>
<br>
<%= link_to "Goals", goals_url %>
<br>
<%= link_to "Edit", edit_goal_url(@goal) if current_user.id == @goal.user_id%>
<br>
<%= button_to "Delete", goal_url(@goal), method: :delete if current_user.id == @goal.user_id%>